/*
 * Flexbox Example work
 * Created By: Ryan Purse
 * Created On: 17/10/2020
 */

* {
    /* box-sizing: border-box; */
}

:root {
    /* Base Colours */
    --background-colour: whitesmoke;
    --black: black;
    --white: whitesmoke;
    --gray: #c9c9c9;

    /* Site Colour Scheme */
    --skobeloff: #006466;
    --midnight-green: #065A60;
    --eagle-green: #0B525B;
    --charcoal: #1B3A4B;
    --prusian-blue: #212F45;
    --space-cadet: #272640;
    --dark-purple: #312244;
    --russian-violet: #3E1F47;
    --light-violet: #4D194D;

    /*
     * Site Colour Scheme with applied alpha
     * Only use with fixed elements.
     */
    --dark-purple-alpha: rgba(49, 34, 68, 0.8);
    --midnight-green-alpha: rgba(6, 90, 96, 0.8);

    /* Default variables */
    --gallery-size: 400px;
}

/*
 * Use to find out where an element has been placed
 * Put at the start so that overriding works properly
 */
.debug {
    border: darkred 1px solid;
    min-width: 10rem;
    min-height: 1rem;
}

html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    width: 100vw;
    z-index: 100;
}

body {
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    padding: 0;
    background-color: var(--background-colour);
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, p {
    font-family: sans-serif;
    color: whitesmoke;
}

h1.down {
    writing-mode: vertical-lr;
    font-weight: bold;
    font-size: 32pt;
}

a {
    display: inline-block;
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    font-size: 17pt;
    padding: 1rem 1rem;
    width: min-content;
    transition-duration: 200ms;
}

a:hover {
    background-color: var(--midnight-green-alpha);
}

a.anchor-link {
    visibility: hidden;
    max-width: 0;
    width: 0;
    padding: 0;
    margin: 0;
}

nav {
    width: 70vw;
    text-align: right;
}

div {
    flex-grow: 1;
}

div.row {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    flex-basis: 0;
}

div.column {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    flex-basis: 0;
}

div.center {
    justify-content: center;
}

div.right {
    justify-content: flex-end;
}

div.middle {
    align-content: center;
}

div.bottom {
    align-content: flex-end;
}

div.justify {
    justify-content: space-between;
}

div.text-wrapper {
    flex-flow: column wrap;
    flex-grow: 0;
    max-width: 31rem;  /* ~500px */
    width: fit-content;
    padding: 0.5rem 1rem;
}

div.anchor-wrapper {
    text-align: center;
    flex-grow: 0;
    opacity: 1;
}

div.box-shadow {
    box-shadow: 1px 1px 1px var(--black);
    z-index: 10;
}

/*
 * Right-angle triangles that use the size of the div.
 * The position describes where the right angle will
 * be located.
 * Triangles take up +/- 1px to ensure there is no weird
 * clipping due to rounding within the browser they are using.
 */
div.triangle-top-right {
    clip-path: polygon(calc(100% + 1px) -1px, calc(100% + 1px) calc(100% + 1px), -1px -1px);
}

div.triangle-top-left {
    clip-path: polygon(-1px calc(100% + 1px), -1px -1px, calc(100% + 1px) -1px);
}

div.triangle-bottom-left {
    clip-path: polygon(-1px calc(100% + 1px), calc(100% + 1px) calc(100% + 1px), -1px -1px);
}

div.triangle-bottom-right {
    clip-path: polygon(calc(100% + 1px) calc(100% + 1px), -1px calc(100% + 1px), calc(100% + 1px) -1px);
}

div.image-wrapper {
    margin: 1rem;
    display: flex;
    flex-flow: column wrap;
    flex-grow: 0;
    flex-basis: 0;
    min-width: fit-content;
}

img.gallery {
    display: flex;
    image-rendering: high-quality;
    max-width: var(--gallery-size);
}

.black {
    color: var(--black);
}

svg {
    min-height: 2rem;
    min-width: 2rem;
}